**/bin
**/obj
/Lightwell-Testing-Dashboard-2/.vs/Lightwell-Testing-Dashboard-2/FileContentIndex/5a9edb10-b13b-4f09-8de9-1fef7a085133.vsidx
*.vsidx
/Lightwell-Testing-Dashboard-2/.vs/Lightwell-Testing-Dashboard-2/v17/.suo
